.artwork-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.artwork-list__container {
	width: 80%;
	margin: 5px;
	display: flex;
	align-items: center;
	box-shadow: 6px 5px 19px -2px rgba(0, 0, 0, 0.31);
}

.artwork-list__img {
	width: 100px;
	height: auto;
}

.artwork-list__description {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.artwork-list__title {
	font-size: large;
}

.artwork-list__price {
	font-size: small;
}
