.artwork-item {
	display: flex;
	flex-direction: column;
	justify-self: start;
	color: black;
	padding: 20px;
	border-radius: 10px;
	border: 0px;
	border-color: gray;
	border-style: solid;
	transition: 200ms;
	max-width: 380px;
	margin: 10px;
	height: 420px;
	box-shadow: 6px 5px 19px -2px rgba(0, 0, 0, 0.31);
	position: relative;
}

.artwork-item__img {
	margin-bottom: 10px;
	margin-top: 10px;
}

.artwork-item__header {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	margin: 5px;
}

.artwork-item__title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 0;
	margin-top: 0;
}

.artwork-item__price {
	font-size: small;
}

.artwork-item__description {
	margin: 5px;
	font-size: small;
}

.artwork-item__location {
	position: absolute;
	bottom: 5px;
	display: flex;
	align-items: center;
}

.artwork-item__icon {
	font-size: 1.4rem;
	outline: none;
	transform: translateY(2px);
}

.artwork-item__location-text {
	font-size: small;
}
